body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Mono';
}

.wrap {
	padding: 20px 30px;
	max-width: 1080px;
}

.header {
	text-align: center;
	padding-bottom: 1rem;
	border-bottom: 2px solid #222;
	margin-bottom: 1rem;
}

.logo {
	max-width: 120px;
	margin: 0 auto;
}

.contact {
	font-size: 80%;
}

/* screen size: xs */
@media only screen and (min-width: 600px) {
	.logo {
		max-width: 160px;
		margin: 0;
		padding: 1rem 0;
	}

}

/* screen size: sm */
@media only screen and (min-width: 768px) {
	.logo {
		max-width: 198px;
		margin: 0;
	}

	.header {
		margin-bottom: 2rem;
	}
}