@page {
	size: auto;
	margin: 0;
}

.multis-barcode {
	margin-top: 3em;
	margin-bottom: 3em;
	max-width: 80mm;
	margin-left: 3em;
	margin-right: 3em;
}

#barcodes {
	margin-top: 1.5em;
	border-spacing: 10mm;
}

.controller {
	position: fixed;
	top: 0.5em;
	left: 0.5em;
}

#input {
	resize: none;
	height: 1.85em;
}

@media print {
	.controller {
		display: none;
	}
}