@page {
	size: auto;
	margin: 0;
}

.multis-barcode {
	margin-top: 8mm;
	margin-bottom: 8mm;
	max-width: 80mm;
	margin-left: auto;
	margin-right: auto;
}

#barcodes {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 10mm;
}

.controller {
	position: fixed;
	top: 0px;
}

@media print {
	.controller {
		display: none;
	}
}