body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Mono';
}

.wrap {
	padding: 20px 30px;
	max-width: 1024px;
}

@media print {
	* {
		display: none;
	}
	#barcode_output {
		display: block;
	}
}

a:visited, a:active, a:link {
	color: #222;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: #888;
}

h5 {
	font-weight: 400
}

h5 a {
	font-weight: 600;
}

.share-icon, .barcode-icon {
	width: 36px;
	height: 36px;
	background: #222;
	border-radius: 18px;
	margin: 5px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s ease-in-out;
}

.share-icon a, .barcode-icon a {
	width: 100%;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.barcode-icon:hover {
	background: #999;
}

.share-icon.facebook:hover {
	background: #3b5998;
}
.share-icon.twitter:hover {
	background: #1da1f2;
}
.share-icon.linkedin:hover {
	background: #0077b5;
}
.share-icon.email:hover {
	background: #ea4335;
}


.header {
	text-align: center;
	padding-bottom: 1rem;
	border-bottom: 2px solid #222;
	margin-bottom: 1rem;
}

.footer {
	padding: 0;
	border-top: 2px solid #222;
}

.footer p {
	font-size: 12px;
	font-weight: 400;
	color: #999;
	line-height: 1.5;
}

.logo {
	max-width: 120px;
	margin: 0 auto;
}

.header-share {
	display: none;
}

.footer-share {
	margin-top: 1rem;
}

.footer-share h4 {
	margin-bottom: 0.5rem;
}

.barcode-types {
	margin-bottom: 1rem;
}

.barcode-types a {
	display: inline-block;
	padding: 6px 10px;
	border: 1px solid #EEE;
	font-size: 1rem;
	margin: 5px 5px 5px 0;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.barcode-types a:hover, .barcode-types a.active {
	background-color: #222;
	color: #EEE;
}

.display-barcode {
	margin-top: 0.25rem
}

.barcode-text-input {
	font-size: 24px;
	font-weight: 400;
	font-family: 'IBM Plex Mono';
	border: 0;
	outline: none;
	padding: 0.5rem 1rem;
	border-bottom: 2px solid #222;
	/*border: 1px solid #EEE;*/
	text-align: left;
	/*border-radius: 2rem;*/
	width: 100%;
}

.barcode-text-input:invalid:focus {
	border-bottom: 2px solid #990000;
	color: #CC0000;
}

.barcode-text-input-clear {
	width: 100%;
	border-radius: 1.5rem;
	background: #222;
	padding: 1rem;
	/*height:36px;*/
	margin: 0;
	outline: none;
	color: #FFF;
	border: 0;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.barcode-text-input-clear:hover {
	background: #ea4335;
}

.docs-link {
	font-size: 16px;
	font-weight: 600;
	margin-top: 1rem;
}

.docs-link a {
	text-decoration: none;
}

.docs-link span {
	padding: 0;
	display: inline-block;
	position: relative;
}

.docs-icon {
	padding-right: 10px;
	position: relative;
}
.docs-icon img {
	position: relative;
	top:3px;
}

.select-type {
	position:relative;
	text-transform: uppercase;
	font-weight: 600;
	display: none;
	margin-bottom: 0.5rem;
	background-color: #F7F7F7;
	border-bottom: 1px solid #222;
}

.select-type:after {
	content: "";
	position: absolute;
	background-image: url("/img/arrow_drop_down.svg");
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	right: 10px;
	top: 2px;
	transition: transform 0.2s ease-in-out;
	pointer-events: none;
}

.select-type.open:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.select-type a {
	width: 100%;
	display: block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	padding: 0.5rem 1rem;
}

.barcode-types {
	display: block;
}

@media only screen and (max-width: 600px) {
	.barcode-types a {
		width: calc(50% - 30px);
		margin-bottom: 0;
		float: left;
	}
	.barcode-types {
		display: none;
	}
	.barcode-types.open {
		display: block;
	}
	.select-type {
		display: block;
	}
	.choose-barcode-type {
		margin-bottom: 1rem;
	}
}

/* between sm and xs */
@media only screen and (min-width: 600px) {
	.logo {
		max-width: 140px;
		margin: 0;
		padding: 1rem 0;
	}
}

/* equal to sm breakpoint */
@media only screen and (min-width: 768px) {
	.logo {
		max-width: 198px;
		margin: 0;
	}
	.header-share {
		display: flex;
	}
	.footer-share {
		display: none;
	}
	.header {
		margin-bottom: 2rem;
	}
}

#barcode_wrapper, #frame {
	position: relative;
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes pulseBg {
	0% { border-color: #222; }
	50% { border-color: #EEE; }
	100% { border-color: #222; }
}

#message {
	display: none;
	padding: 10px;
	border: 1px solid #CCC;
	background: #FFF;
	color: #222;
	text-align: center;
	width: 200px;
	left: -100px;
	box-sizing: border-box;
	margin: 1rem auto 0 50%;
	position: absolute;
	font-size: 13px;
	line-height: 19px;
	z-index: 1000;
}

#barcode_image_link {
	position: absolute;
	left: -1999em;
}

#message.message-fade {
	display: block;
}

.message-fade {
	animation-name: fadeOut;
	animation-duration: 0.5s;
	animation-delay: 2s;
	animation-iteration-count: 1;
}

.pulse-bg {
	animation-name: pulseBg;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.pulse-bg:focus {
	animation-play-state: paused;
	border-color: #222;
	animation: 0
}

#input_wrapper {
	width: 100%;
}

#barcode_output {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	display: block;
	padding: 1rem 0;
}

#barcode_outout[src=""] {
	display: none;
}

#barcode_options {
	margin: 0 0 2rem 0;
}

#barcode_print_button {
	width: 50%;
	text-align: center;
	float: left;
}

#barcode_print_content {
	display: block;
	height: 24px;
}

#barcode_download_button {
	width: 50%;
	text-align: center;
	float: right;
}

#barcode_print_content {
	display: block;
	height: 24px;
}